@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Ubuntu',
  sans-serif;
}
.p-menuitem-text{
  color: rgb(0, 0, 0)!important;
  font-size: x-large;
}
.p-menuitem-icon{
  color: rgb(65, 65, 65)!important;
  font-size: x-large !important;
}